body{background-color: #F0E68C}
  h1{color: #A0522D;text-position: align;font-size: bold;16px;}
th{color: #A0522D;text-position: align;font-size: bold;8px}
footer{color: #A0522D;text-position: center;font-size: 4px}
